<launch>
    <node
        pkg="ratslam"
        exec="ratslam_lv"
        name="RatSLAMLocalViewCells"
        output="screen"
        args="$(find ratslam)/config/config_oxford_newcollege.txt _image_transport:=compressed">
    </node>

    <node
        pkg="ratslam"
        exec="ratslam_pc"
        name="RatSLAMPoseCells"
        output="screen"
        args="$(find ratslam)/config/config_oxford_newcollege.txt _image_transport:=compressed">
    </node>

    <node
        pkg="ratslam_ros"
        exec="ratslam_em"
        name="RatSLAMExperienceMap"
        output="screen"
        args="$(find ratslam)/config/config_oxford_newcollege.txt _image_transport:=compressed">
    </node>
</launch>

 
